/* On met les tritres de niveau 1 et 2 en rouge */
header
{
    position: absolute;
        left: 2%;
    height: 20%;
}

body
{
    background-color: white; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
    background-image:url(Basketball2.jpg);
    background-attachment: fixed; 
    background-repeat:no-repeat;
    background-size: cover;
}

nav
{
    position: absolute;
        left: 2%;
        top : 20%;
    height: 20%;
}


form  /*Positionnement bloc Inscription en haut à gauche*/
{
    width: 13%;
    border: 1px solid black;
    padding-left: 5px;
    position: absolute;
        right: 8px;
        top: 8px;
}

footer
{
    position: absolute;
        left: 2%;
        bottom: 0px;
}

 
#inscription
{
    color: black;
    font-weight: bold;
}



/* CSS pour page d'inscription */


#t_premiere_inscription
{
    position: absolute;
            left: 7%;
            top : 40px;
}

#premiere_inscription
{
    position: absolute;
            left: 7%;
            top : 200px;
    width: 20%
}

#messageconfirmationinscription
{
    position: absolute;
            left: 7%;
            top : 550px;
    font-weight: bold;
}

/*
h1, h2
{
    color: red;
    border: 3px blue dashed;
    width: 50%;
    min-width: 400px;
    margin: auto; // On peut donc demander à ce que le bloc soit centré avec auto
    margin-bottom: 12px;
}

p
{
    color: black;
}

mark
{
    // La couleur de fond prend le pas sur celle de toute la page
    background-color: red;
    color: black;
}

.stylespécifique
{
    color: yellow;
}

#stylespécifique2
{
    color: green;
}

.salutations
{
    color: #000;
}

a // Liens par défaut (non survolés)
{
   text-decoration: none;
   color: black;
   font-style: italic;
}

a:hover // Apparence au survol des liens
{
   text-decoration: underline;
   color: green;
}

a:active // Quand le visiteur clique sur le lien
{
    background-color: #FFCC66;
}

#conteneur
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px; // Un peu de hauteur pour que les éléments aient la place de bouger
}

.element1
{
    background-color: green;
}

.element2
{
    background-color: red;
}

.element3
{
    background-color: blue;

}

:required
{
    color: red;
}
*/